      <hr>
      <footer class="page-footer text-center">
        <p>I have something ToDo &copy;2018</p>
        <p>Designed By <a href="#">Name</a> </p>
      </footer>
      </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
