.container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero{
  background: url(public/light-bulbs-1869945_1920.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
