nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container-fluid
    .navbar-header
      button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') SportsBlog
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.mr-auto.navbar-left
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/articles') Articles
        li.nav-item
          a.nav-link(href='/categories') Categories
      ul.nav.navbar-nav.navbar-right
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
            | Manage
            span.caret
          ul.dropdown-menu
            li
              a.dropdown-item(href='/manage/articles') Articles
            li
              a.dropdown-item(href='/manage/categories') Categories
