#messages li{
  list-style: none;
  padding: 10px;
}
#messages ul{
  padding: 0;
  margin: 0;
}
#message .success{
  background: green;
  color: white;
}
.showcase{
  background:url('/img/home-bg.jpg') no-repeat 0 -150px;
  min-height: 400px;
  color: white;
}
.navbar{
  margin-bottom: 0;
}
body {
  background-color: #F4F6F7;
}

.style-text{
  font-family: serif;
}
