extends layout
block content
  br
  h1 Home
  .jumbotron
    .container
      .row
        .col-md-7
          h2 Computer Not Working?
          p
            | Is your computer running slow? contact us and we will try to fix it as soon as possible.
          p
              a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5
          img(src='images/mouse.png')
  .row
    .col-md-4
      .jumbotron
        h4 Hardware Problems?
        p
          | A hardware problem is classified as a fault in an actual component (e.g. electrical failure) - or in the configuration of that component - leading to issues with the computer. It is distinct from a software or firmware problem, which is normally caused by a defect in the software or operating system code respectively.
    .col-md-4
      .jumbotron
        h4 Software Problems?
        p
          | Many people think of blue as a calming color; however, when it comes up on your computer screen with a bunch of white text, it probably has the opposite effect. The blue screen of death (BSoD or STOP Error) may appear to be one of the scariest computer problems you'll come across. However, all your computer may need is for you to reboot it. This STOP error appears on your screen for a variety of reasons: failing hardware, damaged software, corrupt DLL files, problems with drivers and more. The remedy for a blue screen of death depends on the original problem. The screen provides you with codes that can help you identify and fix your computer problems.
    .col-md-4
      .jumbotron
        h4 Pc Tune Up
        p
          | Comodo PC TuneUp - Introduction. If you'd like to breath new life into a dull and unresponsive computer, then PC TuneUp's suite of disk cleaning and malware removal utilities is the software for you.
